.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Bitter', serif;
}


/* Homepage */

.content {
  margin: auto;
  height: auto;
  width: 90vw;
  max-width: 1600px;
  background-color: red;
}

/* 

.verticalCenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

/* Must be used as the parent */
/* .horizontalCenter {
  display: flex;
  justify-content: center;
}

.navBarDiv {
  height: 5vh;
  width: 100%;
  margin: 0;
  position: relative;
  background: #D1B1CB;
}

.navBarButton {
  margin: 1.4vh 1vw 0 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: inline-flex;
  align-items: center;
  float: right;
  } */


  /*NOT CURRENTLY IN USE 
.active {
  margin: 1.5vh 1vw 0 1vw;
  min-height: 6.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  display: inline-flex;
  align-items: center;
  background-color: blue; 
} */
/* 
.navBarButtonText { */
  /*color: #7C616C;*/
  /* color: white;
  margin: 0;
  padding-top: 0;
  border-bottom: 1px solid white;
}

.introBox { */
  /*border: 0.5vh solid red;*/
  /*height: 70vh;*/
  /* margin: 5% 8% 14% 8%;
  padding: 5%;
  position: relative;
}

.myButton {
  background-color: blue;
  display: inline-block;
}

.introduction {
  top: 20vh;
  position: absolute;
  width: 50%;
}

.projectBox {
  padding: 3vh 0 3vh 0;
} */

/*not currently working*/
/* @media screen and (max-width: 400px) {
  .projectBox {
    padding: 3vh 0 3vh 0;
    float: none !important;
  }
}

.projectImage {
  width: 50%;
  float: left;
}

.projectText {
  width: 47%;
  float: right;
  padding: 0 1.5% 0 1.5%;
}

.contactIcons {
  width: 5%;
}

.skillsBox {
  width: 50%;
  float: left;
} */